/* Změna barvy tlačítka podle ID */
#topbar-cta-button {
    background-color: #ffasdf !important; /* ZDE si dejte svou barvu */
    color: #ffasdf !important;            /* Barva textu */
    border-color: #ffasdf !important;     /* Barva rámečku (pokud tam je) */
}

/* Změna barvy při najetí myší (volitelné) */
#topbar-cta-button:hover {
    opacity: 0.8;
}